@import "tailwindcss";

.btn {
  @apply m-2 py-3 px-10 font-bold text-lg rounded-lg shadow-md
         bg-purple-600 text-white hover:bg-purple-700
         transition-all duration-200;
}

.btn.principal {
  @apply bg-rose-500 text-white hover:bg-rose-600;
}

html {
  @apply w-full h-full;
}

body {
  @apply bg-gradient-to-b from-indigo-100 via-white to-indigo-200
         font-sans text-slate-800;
}

#root {
  @apply min-h-screen w-full flex flex-col items-center pt-8;
}
